In [67]:
import os
import csv
from notion_client import Client
import pandas as pd

# Initialize Notion API client
notion = Client(auth=os.environ['NOTION_TOKEN'])

In [68]:
# Replace 'your_database_id' with the ID of your database
database_id = os.environ['NOTION_DATABASE_ID']

# Query the database
results = notion.databases.query(database_id=database_id)

In [69]:
# Extract the data
data = []
columns = results["results"][0]["properties"].keys()

for page in results["results"]:
    row = {}
    row['id'] = page["id"]
    for column in columns:
        property_type = page["properties"][column]["type"]
        if property_type in page["properties"][column]:
            row[column] = page["properties"][column][property_type]
        else:
            row[column] = ""
    data.append(row)

# Write the data to a CSV file
df = pd.DataFrame(data)
df.to_csv("notion_database.csv", index=False, quoting=csv.QUOTE_NONNUMERIC)

print("Notion database exported as 'notion_database.csv'")

Notion database exported as 'notion_database.csv'

In [70]:
df.head()

,id,Тема,Lesson,Created,Date,Name
0,00639d45-b5a8-4905-8da2-f5cecf1df6d4,"{'id': 'muy@', 'name': 'МАГНІТНІ ЯВИЩА', 'colo...",True,2023-04-12T15:07:00.000Z,"{'start': '2022-09-09', 'end': None, 'time_zon...","[{'type': 'text', 'text': {'content': 'Гіпотез..."
1,03c2f16b-749b-444a-b8e8-8247d99d7278,"{'id': ']|Ji', 'name': 'ФІЗИКА АТОМА', 'color'...",True,2023-04-12T15:07:00.000Z,"{'start': '2023-01-20', 'end': None, 'time_zon...","[{'type': 'text', 'text': {'content': 'Протонн..."
2,04799351-fe47-4a05-bf07-db4e9a35352d,"{'id': 'oGlL', 'name': 'ЗАКОНИ ЗБЕРЕЖЕННЯ', 'c...",True,2023-04-12T15:07:00.000Z,"{'start': '2023-04-19', 'end': None, 'time_zon...","[{'type': 'text', 'text': {'content': 'Розв’яз..."
3,18fe44d5-3d30-41f2-888b-af2671e5eaf8,"{'id': 'cqME', 'name': 'МЕХАНІЧНІ ТА Е\М КОЛИВ...",False,2023-04-12T15:07:00.000Z,"{'start': '2022-12-21', 'end': None, 'time_zon...","[{'type': 'text', 'text': {'content': 'Контрол..."
4,229f976e-a681-4a7e-9474-94ddb41c51c7,"{'id': 'KrTP', 'name': 'СВІТЛОВІ ЯВИЩА', 'colo...",True,2023-04-12T15:07:00.000Z,"{'start': '2022-11-09', 'end': None, 'time_zon...","[{'type': 'text', 'text': {'content': 'Інструк..."

In [71]:
df['Date'] = df['Date'].apply(lambda x: x['start'])
df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d')
df=df[['Date','id','Lesson']]
df.head()

        Date                                    id  Lesson
0 2022-09-09  00639d45-b5a8-4905-8da2-f5cecf1df6d4    True
1 2023-01-20  03c2f16b-749b-444a-b8e8-8247d99d7278    True
2 2023-04-19  04799351-fe47-4a05-bf07-db4e9a35352d    True
3 2022-12-21  18fe44d5-3d30-41f2-888b-af2671e5eaf8   False
4 2022-11-09  229f976e-a681-4a7e-9474-94ddb41c51c7    True

In [72]:
# df Date before today
df['month'] = df['Date'].dt.month
df=df.sort_values(by=['Date'])
df[df['Date']<=pd.to_datetime('today')]

         Date                                    id  Lesson  month
11 2022-09-07  75b6545a-5e14-4bcb-9041-b84efcdbc24a    True      9
0  2022-09-09  00639d45-b5a8-4905-8da2-f5cecf1df6d4    True      9
10 2022-09-14  7247d640-dbd9-40b2-9ed8-eff339ba7604   False      9
12 2022-09-16  7c9ffe6a-4841-4f0a-bc47-43e05cd17fea    True      9
54 2022-09-21  9364a94e-7efb-4d91-80d7-07f25f0104fa    True      9
23 2022-09-23  68e1d363-1bd4-4123-a61e-c4f192577f09    True      9
60 2022-09-28  dfc2f589-399c-446d-9dc9-849085417056    True      9
13 2022-09-30  7face4af-31a8-4226-8af2-a06ace908ec8    True      9
56 2022-10-05  9b93d2b6-40be-4517-955a-d786f7e431d8   False     10
38 2022-10-07  6f9ef1e8-1bac-47f6-a87d-f977c53bbe0e    True     10
16 2022-10-12  b37d9c0a-f313-4d14-9abf-28ff7ca538b4    True     10
63 2022-10-14  199964da-9b36-427f-9c68-070fd95ff407    True     10
27 2022-10-19  88f5c85e-b142-4807-b2aa-bfa9f3516ed1    True     10
20 2022-10-21  3fcb8bf9-2724-4438-b4c8-f1c84cce76d3    True     10
61 2022-11-02  e6515b88-dcb5-45eb-acc9-65650dc70080    True     11
35 2022-11-04  24c54d90-a7c8-4079-a45c-cdedfd74b154   False     11
4  2022-11-09  229f976e-a681-4a7e-9474-94ddb41c51c7    True     11
5  2022-11-11  45bc8173-058e-4efc-81d0-f492266165fd    True     11
46 2022-11-16  ceef73b1-744c-4db4-be44-ddab9ecce47c    True     11
64 2022-11-18  30806e1a-a031-46b6-86c0-971543050fb6    True     11
42 2022-11-23  8b238b10-576e-4e05-996e-ba4560c879a7    True     11
34 2022-11-25  f3c61d92-dfac-4402-b46b-a2effa390eea    True     11
24 2022-11-30  699c2803-6687-4bd9-bb53-078d4c86eae6    True     11
26 2022-12-02  8376aead-3aa1-49dc-8d12-7085b428c073    True     12
41 2022-12-09  83e7a05c-e104-4313-8872-3f7226b76a5a    True     12
33 2022-12-09  f2ebe51a-7509-41af-bf06-e39d88bd0d56    True     12
65 2022-12-14  80e181f7-56fb-4bb9-b09f-1d1b367c4586   False     12
17 2022-12-16  cd183753-21a5-4902-8d31-3c5fee6d75dd   False     12
3  2022-12-21  18fe44d5-3d30-41f2-888b-af2671e5eaf8   False     12
31 2022-12-23  e0f79ddd-d8c1-4f7b-9899-59b3d78c75cc    True     12
29 2023-01-18  c1f03642-e923-4e5d-9998-ac5314a97e93    True      1
1  2023-01-20  03c2f16b-749b-444a-b8e8-8247d99d7278    True      1
47 2023-01-25  ddd7ceca-04ef-4d37-b32a-b95a4a82cefc    True      1
21 2023-01-27  4496f3ba-7f73-4885-91b1-26860bef5ed1    True      1
18 2023-02-01  f79a2908-95a1-4736-b42c-4ce261229540    True      2
30 2023-02-03  ca981a5d-b11f-4be6-9626-8da957789b69    True      2
40 2023-02-08  8360491c-93f2-4f89-9c3c-98a07961544e    True      2
37 2023-02-10  3ef734e0-772a-4c22-a58a-3472f85fed95    True      2
55 2023-02-15  98780ff2-587b-4f37-ade8-e1bc2cf99977   False      2
15 2023-02-17  a21c61d1-89cc-43b5-9888-588d3072ad08   False      2
48 2023-02-22  ebe3645d-7a51-4bb0-8505-3d70dde86428   False      2
52 2023-02-24  7a177547-c3a0-42ed-879e-9bca9aeb4836    True      2
59 2023-03-01  d85540bc-a429-48a8-8bbf-0dd082ffbc6e    True      3
28 2023-03-03  938f8147-3190-40dc-864f-3b3b47fc0346   False      3
58 2023-03-08  bd9d3e50-fd84-49ce-99bf-883569139ddf    True      3
43 2023-03-10  999c4f51-6421-4bc5-ab78-be147e97c249    True      3
66 2023-03-15  8692bffe-723b-4144-a18a-e88ee7ca44a3    True      3
36 2023-03-17  303d74cd-8166-476a-be9d-214e3c3f1663    True      3
45 2023-03-22  ac83e3a4-38c9-45cd-bf00-86deb4e9773a    True      3
49 2023-03-24  0d6f5573-d692-4bda-b82f-972dd70c4898    True      3
62 2023-04-05  fa3cc53c-89a1-4d11-bde4-d222d9ca037f    True      4
6  2023-04-07  47747caa-fb33-478d-92a4-510dec66e309   False      4
53 2023-04-12  922e6b00-703b-4e6a-a8e7-f898a15dc3b9    True      4
14 2023-04-14  9fc997f5-87fa-453f-b366-25b5e0f637b7    True      4
2  2023-04-19  04799351-fe47-4a05-bf07-db4e9a35352d    True      4
9  2023-04-21  53b2da51-deb6-435b-87d6-34bd16b2b677    True      4