In [30]:
import os
import csv
from notion_client import Client
import pandas as pd

# Initialize Notion API client
notion = Client(auth=os.environ['NOTION_TOKEN'])

In [31]:
# Replace 'your_database_id' with the ID of your database
database_id = os.environ['NOTION_DATABASE_ID']

# Query the database
results = notion.databases.query(database_id=database_id)

In [32]:
def extract_data_and_export_to_csv(results):
    # Extract the data
    data = []
    columns = results["results"][0]["properties"].keys()

    for page in results["results"]:
        row = {}
        row['id'] = page["id"]
        for column in columns:
            property_type = page["properties"][column]["type"]
            if property_type in page["properties"][column]:
                row[column] = page["properties"][column][property_type]
            else:
                row[column] = ""
        data.append(row)

    # Write the data to a CSV file
    df = pd.DataFrame(data)
    df.to_csv("notion_database.csv", index=False, quoting=csv.QUOTE_NONNUMERIC)
    return df

In [33]:
df = extract_data_and_export_to_csv(results)
df.head()

,id,Тема,Lesson,Created,Date,Name
0,00639d45-b5a8-4905-8da2-f5cecf1df6d4,"{'id': 'muy@', 'name': 'МАГНІТНІ ЯВИЩА', 'colo...",True,2023-04-12T15:07:00.000Z,"{'start': '2022-09-09', 'end': None, 'time_zon...","[{'type': 'text', 'text': {'content': 'Гіпотез..."
1,03c2f16b-749b-444a-b8e8-8247d99d7278,"{'id': ']|Ji', 'name': 'ФІЗИКА АТОМА', 'color'...",True,2023-04-12T15:07:00.000Z,"{'start': '2023-01-20', 'end': None, 'time_zon...","[{'type': 'text', 'text': {'content': 'Протонн..."
2,04799351-fe47-4a05-bf07-db4e9a35352d,"{'id': 'oGlL', 'name': 'ЗАКОНИ ЗБЕРЕЖЕННЯ', 'c...",True,2023-04-12T15:07:00.000Z,"{'start': '2023-04-19', 'end': None, 'time_zon...","[{'type': 'text', 'text': {'content': 'Розв’яз..."
3,18fe44d5-3d30-41f2-888b-af2671e5eaf8,"{'id': 'cqME', 'name': 'МЕХАНІЧНІ ТА Е\М КОЛИВ...",False,2023-04-12T15:07:00.000Z,"{'start': '2022-12-21', 'end': None, 'time_zon...","[{'type': 'text', 'text': {'content': 'Контрол..."
4,229f976e-a681-4a7e-9474-94ddb41c51c7,"{'id': 'KrTP', 'name': 'СВІТЛОВІ ЯВИЩА', 'colo...",True,2023-04-12T15:07:00.000Z,"{'start': '2022-11-09', 'end': None, 'time_zon...","[{'type': 'text', 'text': {'content': 'Інструк..."

In [34]:
df['Date'] = df['Date'].apply(lambda x: x['start'])
df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d')
df=df[['Date','id','Lesson']]
df.head()

        Date                                    id  Lesson
0 2022-09-09  00639d45-b5a8-4905-8da2-f5cecf1df6d4    True
1 2023-01-20  03c2f16b-749b-444a-b8e8-8247d99d7278    True
2 2023-04-19  04799351-fe47-4a05-bf07-db4e9a35352d    True
3 2022-12-21  18fe44d5-3d30-41f2-888b-af2671e5eaf8   False
4 2022-11-09  229f976e-a681-4a7e-9474-94ddb41c51c7    True

In [35]:
# df Date before today
df['month'] = df['Date'].dt.month
df=df.sort_values(by=['Date'])
df_date = df[df['Lesson']].iloc[-1]['Date']
df[(df_date<df['Date']) & (df['Date']<=pd.to_datetime('today'))]

Empty DataFrame
Columns: [Date, id, Lesson, month]
Index: []

In [ ]:
if __name__ == '__main__':
    api_id = 29848792
    api_hash = '918e0e0057edfa32b962802c2659517f'
    group_username = 'physics171'
    start_dates = ['2023-04-22']  # Modify the date as needed

    downloader = TelegramImageDownloader(api_id, api_hash, group_username)

    loop = asyncio.get_event_loop()
    loop.run_until_complete(downloader.main(start_dates))